<a href="https://colab.research.google.com/github/Rafahmachado/SoulCode-PreparaTech/blob/main/Aula1_4ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aula01 Douglas Ribeiro (18/01)

In [ ]:
#Introdução
'''
Este recurso de três aspas serve para comentários longos
já # é mais utilizado para comentários curtos
'''
print('Olá mundo')

Olá mundo

Variáveis

In [ ]:
#criando variaveis
nome = "Douglas" # criando a variavel nome e atribuindo a ela  o texto Douglas
idade = 47 # criando a variavel idade e atribuindo a ela o valor 47
altura =1.85
print(nome)# mostrando o conteudo armazenado na variavel nome
print(nome,idade, altura) # mostrando na mesma linha o conteúdo de nome e idade
print(f"O aluno {nome} tem {idade} anos de idade, e {altura} metros de altura") # mostrando o conteúdo de nome e idade combinado com outros textos livres

Douglas
Douglas 47 1.85
O aluno Douglas tem 47 anos de idade, e 1.85 metros de altura

Aula02 José Magalhães(19/01)

tipos de dados explicação

In [ ]:
#criando variaveis
nome = "Douglas" # criando a variavel nome e atribuindo a ela  o texto Douglas
idade = 47 # criando a variavel idade e atribuindo a ela o valor 47
altura =1.85
type(altura)
type(nome) #string

float

Input entrada de dados

In [ ]:
nome = input("Digite seu nome :") # input entrada de dados
#Quando eu uso um input sem dizer o tipo de dado, automaticamente ele é string.
print(nome)
print(f'Seu nome é {nome}.')

Digite seu nome :Rafaela
Rafaela
Seu nome é Rafaela.

In [ ]:
#Cast para inteiro
#Toda vez que forçamos algo fora do padrão fora o comportamento fazemos um cast
idade = int(input("Digite sua idade: "))#input irá receber números
print(idade)

Digite sua idade: 35
35

int

In [ ]:
altura = float(input("Digite sua altura:"))
print(altura)

Digite sua altura:1.65
1.65

Operações Matemáticas

In [ ]:
# soma +
# subtração -
# multipicação *
# divisão /
# divisaõ por inteiro //
# resto de divisão %
# potenciação **

3 + 3
#Armazenando soma dentro de variável
soma = 3 + 3
minhaDivisao = 7/2
print("Soma:" ,soma)
print("Divisao:" ,minhaDivisao)
subtracao = 8-4
print("Subtração: ",subtracao)
multiplicacao = 8 * 9
print("Multiplicação: ", multiplicacao)
divisaoInteira = 7//2
print("Divisao Inteira: ", divisaoInteira)
#Muito utilizado para calcular numeros pares e ímpares
restoDivisao = 8 % 2 #o que resta da divisão ,para saber impar par
print("Resto da divisão" , restoDivisao)
potencia = 3**3
print("Potência:", potencia)
raiz = 9**(1/2)#rAIZ QUADRADA
print("Raiz Quadrada" , raiz)

Soma: 6
Divisao: 3.5
Subtração:  4
Multiplicação:  72
Divisao Inteira:  3
Resto da divisão 0
Potência: 27
Raiz Quadrada 3.0

Operações matemáticas com variáveis

In [ ]:
num1 = 10
num2 = 15
num3 = 25
resultado = num1 + num2 + num3
resulatdo2 = num1 + (num2 * num3)
print("Resultado:", resultado)
print("Resultado 2: ", resultado2)

Resultado: 50
Resultado 2:  385

In [ ]:
num1 = 10
num2 = 15
num3 = 25
resultado = num1 + num2 + num3
resultado2 = num1 + (num2 * num3)
print("Resultado: ", resultado)
print("Resultado 2: ", resultado)

Resultado:  50
Resultado 2:  385

In [ ]:
n1 = int(input("Digite um número: "))
n2 = int(input("Digite outro número: "))
novo_resultado = n1 + n2 #A operação matemática que vai dizer o tipo de dado do resultado final
print(novo_resultado)

Digite um número: 10
Digite outro número: 10
20

Q1: Declare duas variáveis e realize as quatro operações básicas (soma, subtração, divisão e multiplicação). Ao final, exiba todos os resultados em um print

In [ ]:
num1 = 10
num2 = 5
resultado = num1 * num2 + num1
#print(resultado)
resultado2 = num2 / num1
#print(resultado2)
resultado3 = num1 - num2
#print(resultado3)
print("Resultado:" , resultado , resultado2 , resultado3)

Resultado: 60 0.5 5

**Q2: Crie uma variável do tipo float chamada comprimento e outra do tipo float chamada largura. Peça para o usuário inserir esses dados, e realize dois cálculos: area e perímetro, ao final, use print para mostrar os resultados.**

In [ ]:
comprimento = float
largura = float
comprimento =float(input("Digite o comprimento: "))
largura =float(input("Digite a largura: "))
print(comprimento)
print(largura)

Digite o comprimento: 1.2
Digite a largura: 1.4
1.2
1.4

correção dos exercícios
Q1

In [ ]:
num1 = 10
num = 5
soma = num1 + num2
subtração = num1 -num2
divisao = num1 / num2
multiplicacao = num1 * num2

print("Soma: ",soma)
print("Subtraçao",subtracao)
print("Divisão" ,divisao)
print("Multiplicação",multiplicacao)

Soma:  15
Subtraçao 4
Divisão 2.0
Multiplicação 50

Q.2

In [ ]:
comprimento = float(input("Digite o comprimento: "))
largura = float(input("Digite a largura: "))

area = comprimento * largura
perimetro = 2 * comprimento + largura

print("Área:", area)
print("Perimetro", perimetro)

Digite o comprimento: 35.2
Digite a largura: 22.5
Área: 792.0000000000001
Perimetro 792.0000000000001

*Escreva um programa em Python que solicite ao usuário o raio da base e a altura de um cilindro. Calcule e imprima o volume do cilindro usando a fórmula: Volume = π * raio^2 * altura. PI = 3,14**

In [ ]:
raio = float(input('digite a base'))
altura = float(input('digite a altura'))
pi = 3.14
volume =  pi*raio**2 *altura
print(" O volume do cilindro é",volume_cilindro)

correção

In [ ]:
raio = float(input("Digite o raio da base do cilindro"))
altura = float(input("Digite a altura do cilindro"))
PI = 3.14#CONSATANTE NÃO MUDA DE VALOR
volume_do_cilindro = PI * raio**2 *altura
print(volume_do_cilindro)

Digite o raio da base do cilindro10.2
Digite a altura do cilindro15.4
5030.95824

Aula 3 Professora Fran (22/01)


##Operadores de comparação

In [ ]:
# Estou verificando se duas variaveis são iguais
# Estou usando o operador ==
a = 3
b = 4

teste1 = a == b
print(teste1)

False

In [ ]:
# O Python é sensivel com letras maiusculas e minusculas
# As comparações de texto devem ser exatamente iguais
a = 'Fran'
b = 'fran'
teste2 = a == b
print(teste2)

False

In [ ]:
a = 9
b = 9.0
teste3 = a == b
print(teste3)

True

In [ ]:
# Estou comparando se duas variáveis são diferentes
a = 4
b = 2
teste4 = a != b
print(teste4)

True

In [ ]:
# Mais um exemplo de comparação de duas variáveis diferentes
# O Python é sensivel com letras maiusculas e minusculas
c = 'alunos'
d = 'ALUNOS'
teste5 = c != d
print(teste5)

True

In [ ]:
# Vamos colocar as letras todas em maiusculo
c = 'ALUNOS'
d = 'ALUNOS'
teste6 = c != d
print(teste6)

False

In [ ]:
# Vamos fazer mais um exemplo de comparação com espaço
# Espaços são contados dentro do Python
f = 'ALUNOS '
g = 'ALUNOS'
teste7 = f != g
print(teste7)

True

In [ ]:
'''
vamos
fazer
um cometário
longo
'''

In [ ]:
print("I'm Fran")

I'm Fran

In [ ]:
# Vamos usar o sinal > (sinal de maior que) para comparações
h = 3
v = 2
teste8 = h > v
print(teste8)

True

In [ ]:
# Outra forma de visualizar nossas comparações
print(3 > 2)

True

In [ ]:
# testando com duas strings
# Vamos verificar!
a = 'Franciane'
b = 'FRAN'
teste9 = a > b
print(teste9)

True

In [ ]:
#Testando com duas strings
a = "natacha"
b = "natacha"
teste9 = a > b
print(teste9)

False

In [ ]:
# Vamos usar >= (sinal de maior ou igual a) para nossas comparações
a = 'Franciane'
b = 'FRAN'
teste10 = a >= b
print(teste10)

True

In [ ]:
# Outra forma de escrever testes
teste11 = 3 >= 3
print(teste11)

True

In [ ]:
# Mais um teste
teste12 = 5 >= 7
print(teste12)

False

In [ ]:
# Vamos usar < (menor que) para nossas comparações
teste13 = 2 < 2
print(teste13)

False

In [ ]:
# Vamos fazer um novo teste
teste14 = 1 < 2
print(teste14)

True

In [ ]:
# Vamos usar <= (sinal de menor ou igual) para nossas comparações
teste15 = 2 <= 2
print(teste15)

True

In [ ]:
teste15

True

In [ ]:
teste15 # forma direta
print(teste15) # forma que estamos acostumados
print('O resultado do nosso teste é: ', teste15) # outra forma
print(f'O resultado do teste 15 é {teste15}') # outra forma de aparecer

True
O resultado do nosso teste é:  True
O resultado do teste 15 é True



##Operadores de Atribuição

In [ ]:
# Atribuição direta (=)
nome = 'Fran'
peso = 51
altura = 1.65

In [ ]:
# Atribuição de soma (+=)
# Exemplo: crie uma variável que receba o numero 3 e depois some 1
# para essa variável
t = 3       # entrada do dado
t = t + 1   # fazendo uma atribuição a variação
print('O resultado de t + 1 é: ', t)

O resultado de t + 1 é:  4

In [ ]:
# Usando o operador de atribuição de soma (+=)
# Escrevendo de forma chic e bonita
t = 3
t += 1  # Lembrete t = t + 1
print('O resultado de t + 1 é: ', t)

O resultado de t + 1 é:  4

In [ ]:
# Modo por extenso
numero1 = 5
numero1 = numero1 + 5
print('O resultado da soma da variável numero1 é: ', numero1)

O resultado da soma da variável numero1 é:  10

In [ ]:
# Atribuição de soma (+=)
numero1 = 5
numero1 += 5
print('O resultado da soma da variável numero1 é: ', numero1)

O resultado da soma da variável numero1 é:  10

In [ ]:
# Atribuição de subtração (-=)
# Exemplo: Crie uma variável z que receba o numero 5 e depois
# diminua 2 para essa variável
z = 5
z = z - 2
print(f'O resultado da subtração é {z}')
print('O resultado da subtração é:', z)
print(z)

O resultado da subtração é 3
O resultado da subtração é: 3
3

In [ ]:
# Forma abreviada do nosso exemplo
z = 5
z -= 2
print(f'O resultado da subtração é {z}')
print('O resultado da subtração é:', z)
print(z)

O resultado da subtração é 3
O resultado da subtração é: 3
3

Aula 4 José Magalhães(23/01)

Comando de controle de fluxo


IF, ELSE ,ELIF

In [ ]:
#IF,ELSE, ELIF Servem para verificar condições
idade = 18
if idade >= 18: # Condição => True,False
  print("Você é maior de idade")

Você é maior de idade

In [ ]:
saldo = -100
if saldo > 0:#se
  print("Seu saldo é positivo")
else: #se não
  print("Seu saldo é negativo")

Seu saldo é negativo

In [ ]:
#elif é o mesmo que
#elif é o mesmo que else if
#If faz a primeira vericação
#Elif faz as outras verificações, se houverem
#Else faz a última verificação
nota = float(input("Digite sua nota"))

if nota>= 90:
  print("A")
elif 80 <= nota < 90:
  print("B")
elif 70 <= nota < 80:
  print("C")
elif 60 <= nota < 70:
  print("D")
else:
  print("F")

Digite sua nota100
A

In [ ]:
#Variáveis de credenciais
usuario = input("Digite seu usuário: ")
senha = input("Digite sua senha: ")

#Verificação de autenticidade dos usuários
if usuario == "admin" and senha =="admin123":
  print("Login bem-sucedido. Bem-vindo, Administrador.")
elif usuario == "convidado" and senha == "convidado123":
  print("Login bem-sucedido. Bem-vindo, convidado.")
else:
  print("Credenciais inválidas! Tente novamente.")

Digite seu usuário: admin
Digite sua senha: admin123
Login bem-sucedido. Bem-vindo, Administrador.

Q1 Crie um programa em Python que solicita ao usuário inserir um número.Oprograma deve imprimir se o númeroé positivo,negativo ou zero

In [ ]:
saldo =int(input("Digite seu saldo:"))
if saldo  > 0:
  print("Seu saldo é positivo:")
elif saldo < 0:
  print("Seu saldo é negativo:")
else:
   print("Seu saldo é zero:")

Digite seu saldo:2
Seu saldo é positivo:

Q2:Escreva um programa em Python que solicite ao usuário inserir um número inteiro. O programa deve verificar se o número é par e imprimir uma mensagem indicando se é par ou ímpar.

In [ ]:
numero = int(input("Digite um número")) #divisao
if numero % 2 == 0:
  print("O número é par")
else:
    print("O número é impar!")

Digite um número10
O número é par

In [ ]:
#IF aninhado
#fechar os if com else
nota = float(input("Digite sua nota:"))
frequencia = int(input("Digite sua frequência"))
if frequencia >= 75 :
  if nota >=60:
    print("Aprovado!")
  else:
    print("Reprovado por nota!")
else:
    print("Reprovado por frequência!")

Digite sua nota:75
Digite sua frequência60
Reprovado por frequência!

In [ ]:
saldo = 500
limite = 1000

if saldo > 0:
  if saldo >= limite:
   print("Saldo sufuciente para compra.")
  else:
   print("Saldo insuficiente !")
else:
  print("Conta sem saldo!")

Saldo insuficiente !

Q3Desenvolva um script que peça ao usuário para inserir uma palavra. O programa deve verificar se a palavra é "Python" e imprimir uma mensagem correspondente.

In [ ]:
palavra = input("Digite uma palavra: ")

if palavra == "Python":
  print("Você digitou a palavra 'Python'")
else:
  print("Você não digitou a palavra 'Python'")

Digite uma palavra: java
Você não digitou a palavra 'Python'

Q4: Elabore um programa que peça ao usuário para inserir um número inteiro. O programa deve verificar se o número é ímpar e imprimir uma mensagem correspondente.

In [ ]:
numero = int(input("Digite um número inteiro:"))

if numero % 2 != 0:
  print("O número é impar!")
else:
  print("O númeroé par")

Digite um número inteiro:5
O número é impar!

Q5: Desenvolva um programa que analise se um ano é bissexto. Se for bissexto, verifique se é um número ímpar.

In [ ]:
ano = int(input("Digite um ano :"))

if ano % 4 ==0:
  print("O ano é bissexto")
  if ano % 2 != 0:
    print("O ano é um número ímpar")
  else:
      print("O ano é um número par!")
else:
  print("O ano não é bissexto")

Digite um ano1982
O ano não é bissexto

Q6:Crie um programa em python para verificar se um triângulo é equilátero, isósceles e escaleno. Peça para o usuário digitar o valor dos três lados.

Um triângulo isósceles é um triângulo que tem dois lados iguais.
Um triângulo escaleno é caracterizado por ter três lados de comprimentos diferentes.

In [ ]:
triangulo = float(input("Digite os lados do triangulo? "))
if triangulo == 2:
  print("O triângulo tem 2 lados iguais ")
  if triangulo !=3:
    print(" O triângulo é isósceles !")
  else:
   print("O triangulo tem 3 lados diferentes de comprimento ")
else:
   print("O triangulo é do tipo escaleno")

In [ ]:
#Correção exercício Q6
lado1 = float(input("Digite o lado 1: "))
lado2 = float(input("Digite o lado 2: "))
lado3 = float(input("Digite o lado 3: "))

if lado1 == lado2 == lado3:
  print("Triângulo equilátero.")
elif lado1 == lado2 or lado1 == lado3 or lado2 == lado3:
  print("Triângulo isósceles.")
else:
  print("Triângulo escaleno.")

Digite o lado 1: 2
Digite o lado 2: 5
Digite o lado 3: 10
Triângulo escaleno.

Q7:Crie um programa que verifica se um número é múltiplo de 3. Se for, avalie se é também divisível por 6.

In [ ]:
numero = int(input("Digite um número:"))
if  numero % 3 == 0:
  print("O número é múltiplo de 3")
  if numero % 6 ==0:
    print("E é divisivel por 6.")
  else:
      print("Mas não é divisível por 6")
else:
  print("O número não é múltiplo de 3")

Digite um número:3
O número é múltiplo de 3
Mas não é divisível por 6